body{
padding-top:70px;
font-family:'Inter',sans-serif;
background:#fafafa;
}

/* Navbar */
.premium-navbar{
background:rgba(0,0,0,0.9);
backdrop-filter:blur(8px);
}

.brand-text{
font-weight:600;
}

/* Hero */
.hero-section{
min-height:90vh;
display:flex;
align-items:center;
justify-content:center;
background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://i.ibb.co/nN8yd3gB/header.jpg");
background-size:cover;
background-position:center;
}

.hero-title{
font-size:42px;
font-weight:700;
}

.hero-subtitle{
margin-bottom:30px;
}

/* Product Card */
.product-card{
border:none;
border-radius:18px;
overflow:hidden;
box-shadow:0 15px 40px rgba(0,0,0,.08);
transition:.3s;
cursor:pointer;
}

.product-card:hover{
transform:translateY(-5px);
}

.product-card img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
}

.price{
font-size:14px;
}

.old-price{
text-decoration:line-through;
color:#888;
margin-right:6px;
}

.new-price{
font-weight:600;
}

/* Share Button */
.share-btn{
position:absolute;
top:10px;
right:10px;
border:none;
background:#fff;
border-radius:50%;
width:35px;
height:35px;
display:flex;
align-items:center;
justify-content:center;
font-size:16px;
}
.contact-section{
padding:80px 0;
background:#fff;
}

.contact-info p{
margin-bottom:10px;
}

.contact-info a{
text-decoration:none;
color:#000;
}

.contact-info a:hover{
text-decoration:underline;
}


/* Floating Call Button */
.call-float{
position:fixed;
bottom:25px;
right:25px;
background:#000;
color:#fff;
width:55px;
height:55px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:22px;
text-decoration:none;
box-shadow:0 8px 25px rgba(0,0,0,.3);
z-index:999;
transition:.3s;
}

.call-float:hover{
background:#25D366;
transform:scale(1.1);
}